body{
    background-color: #F2F8EA;
}
h1{
   text-align:center; 
}

h2{
    
    background-color:#f56b2a ;
    color:white;
    width:295px;
   
}
.btn-default{
    
    background-color: white;
    margin:7px;
}

th{
    background-color: #f56b2a;
}  
   
