.navbar {
    background-color: #f56b2a;
    .nav>li>a {
        color: #000;
        &:hover {
            background-color: #FFF;
            color: #000;
        }
    }
    .navbar-brand {
        color: blue;
    }
}